body {
    background-color: #4A4A4D;
}

.container {
    width: 15em;
    margin: 0 auto;
    background-color: #F2EDDB;
    padding: 1px .5em;
}

.fizzbuzz {
    color: crimson;
}

.fizz {
    color: dodgerblue;
}

.buzz {
    color: mediumseagreen;
}

.entry {
    margin: .5em;
    text-align: center;
}

#maxcount {
    padding-left: 5px;
    width: 5em;
}